.myCon{
	position: fixed;
	top: 0;
	bottom:1rem;
	width: 100%;
	overflow: auto;
	background: #eee;
}
.main-top {
    position: relative;
	
    background-size: 100%;
}
.plus-top {
    height: 3.8rem;
    overflow: hidden;
	background: url(https://m.juooo.com/public/basic/Home/app/app-juooo4/images/myjuooo/integral.jpg) center 0 no-repeat;
	}
.main-top .head-logo {
    position: absolute;
    top: 0.5rem;
    left: 0.32rem;
    border: 2px solid #e6e6e6;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    background: #f5f5f5;
}

.main-top .name span{
	display: block; 
}
.main-top .name i{
	position: absolute;right: 0;top:50%;font-family: "宋体";transform: translateY(-50%);
	margin-right: .4rem;
	font-size:.28rem;
	}
.main-top .name{
	height: .8rem;
	padding-left:1.6rem ;
	margin-top:0.64rem;
	position: relative;
	color: #FFF
}
.main-top .name .nickname{
	height:.46rem;
	max-width: 5rem;
	line-height:.46rem;
	font-size:.3rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-top .name .grade{
	height:.30rem;
	width:5rem;
	line-height:.3rem;
	font-size:.28rem;
}
.myCon section{
	background: #eee;
}
.myCon section .myHave{
	height: 1.52rem;
	display: flex;
	align-items:center;
	text-align: center;
	background: #FFFFFF;
}
.myCon section .myHave li{
	flex:1;
	position: relative;
	height:.82rem;
}
.myCon section .myHave li p{
	font-size: 0.42667rem;
    color: #ff7919;
}
.myCon section .myHave li p span{
	font-size: 0.2rem;
}
.myCon section .myHave li b{
	font-weight:normal ;
}
.myCon section .myHave .have:after{
	content:"";
	position: absolute;
	display: block;
	height:.82rem;
	width:1px;
	top:50%;
	right:0;
	transform: translateY(-50%);
	background:#ccc;
}
.myCon section .myList li{
	height: .9rem;
	line-height:.9rem;
	padding-right:10px;
	font-size:.3rem;
	background: #FFFFFF;
	margin-top:.2rem;
	position: relative;
	padding-left:.8rem;
	color:#999;
}
.myCon section .myList li:nth-child(6),.myCon section .myList li:nth-child(8){
	margin-top:0;
}
.myCon section .myList li:nth-child(6):after,.myCon section .myList li:nth-child(8):after{
	content:"";
	position: absolute;
	display: block;
	height:1px;
	width:6.7rem;
	top: 0;right: 0;
	background:#ccc;
}
.myCon section .myList li .fa{
	position: absolute;
	left:.35rem;
	top: .28rem;
}
.online-sever{
	display: block;
	height:.64rem;
	background: #FFFFFF;
	width:4.2rem;
	margin:.49rem auto .49rem ;
	text-align: center;
	line-height:.64rem;
	font-size: 0.33rem;
    color: #ff7919;
}
.plusModel-rowTxt{
	height: 1.7rem;
	width: 7.3rem;
	position:absolute;
	left:50%;
	bottom: -1.80rem;
	transition: 0.6s;
	opacity:0;
	transform:translateX(-50%);
	background: url(https://m.juooo.com/public/basic/Home/app/app-juooo4/images/myjuooo/pic_plusCard.png) center 0 no-repeat;
}
.isIcon{
	position: absolute;
	bottom:0px;
	left: -100px;
	width:206px;
	height:160px;
	transition: 2.5s;
}